.searchBar{
    width:100%;
}

.searchBarContainer{
        padding: 1rem 1.5rem 2rem
      
}

.playlistContainer{
        
        width: 97vw;
        max-height: 90vh;
        background-color: #ffffff !important;
}