.contentContainer {
    padding: 0rem 1.5rem 10rem;
  }
  .container{
    position: relative;
    min-height: 100vh;  
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .headerImage {
    width: 6rem;
    height: 6rem;
  }
  
  .headerHomeImage {
    width: 8rem;
    height: 8rem;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }
  .titleContainer{
    padding: 2.5rem 1.5rem 1.5rem;
  }
  