
.contentContainer {
    padding: 0rem 1.5rem 2rem;
    background-color: #333 ;
    height: 40vh;
    overflow: hidden;
  }
  .contentContainer1{
    z-index: 3;
    position: relative;
    margin:-50px 30px 3.5rem;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  
  .container{
  background-color: smoke  !important;
  min-height:100vh

  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .headerImage {
    width: 6rem;
    height: 6rem;
  }
  
  .headerHomeImage {
    width: 8rem;
    height: 8rem;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }
  .titleContainer{
    padding: 3.5rem 1.5rem 1.75rem;
    margin-top: 5rem;
    text-align: center;
  }
  