
.playListImg{
    height: 180px;
    width: 180px;
}
.playListInfoContainer{
  background-color: #151515;
  color:white;
  width:99%;
  padding: 1.25rem 1.5rem 1.25rem;  
}
.avatar{
    height: 225px;
     width: 225px;
}
.trackFollowers{
    color:white;
}