
.playListImg{
    height: 180px;
    width: 180px;
}
.playListInfoContainer{
  background-color: #151515;
  color:white

}
.avatar{
    height: 225px;
     width: 225px;
}
.trackFollowers{
    color:white;
}