.searchBar{
    width:100%;
}

.searchBarContainer{
        padding: 1rem 1.5rem 2rem
      
}

.playlistContainer{
        position: relative;
        overflow: auto;
        overflow-x:hidden;
        width: 97.5vw;
        max-height: 75vh;
  
}